#  $$$$$$\  $$\   $$\           $$$$$$\                                                        $$\      $$\           
# $$  __$$\ \__|  $$ |          \_$$  _|                                                       $$$\    $$$ |          
# $$ /  \__|$$\ $$$$$$\           $$ |  $$$$$$\  $$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\        $$$$\  $$$$ | $$$$$$\  
# $$ |$$$$\ $$ |\_$$  _|          $$ | $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\       $$\$$\$$ $$ |$$  __$$\ 
# $$ |\_$$ |$$ |  $$ |            $$ | $$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |  \__|$$$$$$$$ |      $$ \$$$  $$ |$$$$$$$$ |
# $$ |  $$ |$$ |  $$ |$$\         $$ | $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$   ____|      $$ |\$  /$$ |$$   ____|
# \$$$$$$  |$$ |  \$$$$  |      $$$$$$\\$$$$$$$ |$$ |  $$ |\$$$$$$  |$$ |      \$$$$$$$\       $$ | \_/ $$ |\$$$$$$$\ 
#  \______/ \__|   \____/       \______|\____$$ |\__|  \__| \______/ \__|       \_______|      \__|     \__| \_______|
#                                      $$\   $$ |                                                                     
#                                      \$$$$$$  |                                                                     
#                                       \______/                                                                      

# I tell Git to ignore but git bad boy